a {
    color: #168aff;
}
/* 主题宽度调整 */
.layout {
    max-width: 1344px;
}
#recent-posts{
    width: 77%;
}
#aside-content{
    width: 23%;
}

/* 主题背景色 */
#web_bg {
    -webkit-background-size: unset;
    background-size: unset; 
    background-repeat: repeat;
}


/* 滚动条 */

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-thumb {
    background-color: #1677ff;
    background-image: -webkit-linear-gradient( 45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 2em;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-moz-selection {
    color: #fff;
    background-color: #1677ff;
}